<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="layout.css">

<title>Q-range calculator</title>
</head>
<body>

<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="math.min.js"></script>
<script type="text/javascript" src="scattering.js"></script>
<script type="text/javascript" src="plotting.js"></script>
<script type="text/javascript" src="preferences.js"></script>
<script type="text/javascript" src="controller.js"></script>


<div class="textPanel" id="configurationPanel">
	<div class="configurationPanelSection" id="templatesPanel">
		<div> 
			<span> Select a pre-defined beamline configuration template: </span>
			<select id="beamlineTemplatesCombo" onchange="controller.setBeamlineTemplate();"></select>
		</div>
	</div>
	
	<div class="configurationPanelSection" id="detectorPanel">
		<div> 
			<label> Detector: </label>
			<select class="field" id="detectorsCombo" onchange="controller.setDetector();"></select> 
		</div> 
		<div>
			<label> Detector resolution: </label>
			<span class="field" id="detectorResolution"></span> 
			<span class="units"> (height x width) </span>
		</div>
		<div>
			<label> Pixel size: </label>
			<span class="field" id="pixelSize"></span> 
			<span class="units"> (mm x mm) </span>
		</div>
	</div>
	
	<div class="configurationPanelSection" id="beamstopPanel">
		<div>
			<label> Beamstop diameter: </label>
			<input class="field" id="bsdiameter" type="text" readonly="readonly">
			<select class="units" id="bsdunit" onchange="controller.bsDiameterUnitChanged();">
				<option value="mm"> mm </option>
				<option value="micrometer"> &micro;m </option> 
			</select>
		</div>
		<div>
			<label> Beamstop x position: </label>
			<input class="field" id="bsx" type="text" onfocus="this.oldValue = this.value;" 
			       onchange="controller.setBeamstopXCentre(); this.oldValue = this.value">
			<span class="units"> (pixels) </span>
		</div>
		<div>
			<label> Beamstop y position: </label>
			<input class="field" id="bsy" type="text" onfocus="this.oldValue = this.value;" 
			       onchange="controller.setBeamstopYCentre(); this.oldValue = this.value">
			<span class="units"> (pixels) </span>
		</div>
		<div>
			<label> Clearance: </label>
			<input class="field" id="clearance" type="number" min="0" max="1000" step="1"
			       onchange="controller.setClearance();">
			<span class="units"> (pixels) </span>
		</div>
	</div>
	
	
	<div class="configurationPanelSection" id="cameraTubePanel">
		<div>
			<label> Camera tube diameter: </label>
			<input class="field" id="ctdiameter" type="text" readonly="readonly">
			<select class="units" id="ctdunit" onchange="controller.ctDiameterUnitChanged();">
				<option value="mm"> mm </option>
				<option value="micrometer"> &micro;m </option> 
			</select>
		</div>
		<div>
			<label> Camera tube x position: </label>
			<input class="field" id="ctx" type="text" onfocus="this.oldValue = this.value;" 
			       onchange="controller.setCameraTubeXCentre(); this.oldValue = this.value;">
			<span class="units"> (pixels) </span>
		</div>
		<div>
			<label> Camera tube y position: </label>
			<input class="field" id="cty" type="text" onfocus="this.oldValue = this.value;"
			       onchange="controller.setCameraTubeYCentre(); this.oldValue = this.value;">
			<span class="units"> (pixels) </span>
		</div>
	</div>
	
	
	<div class="configurationPanelSection" id="beamPropertiesPanel">
		<div>
			Energy:
			<input id="energy" type="text" onfocus="this.oldValue = this.value;"
			       onchange="controller.setEnergy(); this.oldValue = this.value;">
			<select id="energyunit" onchange="controller.energyUnitChanged();">
			    <option value="keV"> keV </option> 
				<option value="eV"> eV </option>
			</select>
		</div>
		<div>
			<label> Wavelength: </label>
			<input class="field" id="wavelength" type="text" onfocus="this.oldValue = this.value;" 
			       onchange="controller.setWavelength(); this.oldValue = this.value;">
			<select id="wavelengthunit" onchange="controller.wavelengthUnitChanged();">
			    <option value="nm"> nm </option> 
				<option value="angstrom"> &#8491; </option>
			</select>
		</div>
	</div>
	
	
	<div class="configurationPanelSection" id="anglePanel">
		<div>
			<label> Angle: </label>
			<input class="field" id="angle" type="text" onfocus="this.oldValue = this.value;"
			       onchange="controller.setAngle(); this.oldValue = this.value;">
			<select id="angleunit" onchange="controller.angleUnitChanged();">
			    <option value="deg"> &deg; </option> 
				<option value="rad"> rad </option>
			</select>
		</div>
	</div>
	
	
	<div class="configurationPanelSection" id="cameraLengthPanel">
		<div>
			<label> Camera length: </label>
			<input class="field" id="cameraLength" type="number" min="1.2" max="9.7" step="0.25"
			       onchange="controller.setCameraLength();">  
			<span class="units"> (m) </span>
		</div>
	</div>
</div>



<div id="plotPanel">
	<canvas id="beamlineCanvas"></canvas>
	<div class="textPanel" id="plotConfigurationPanel"> 
	    <label> Zoom: </label> <input name="zoom" type="number" min="10" step="10" value="100"><br/>
	    <input type="checkbox" name="axes"> Show axes (in q [1/nm]) <br/>
	    <input type="checkbox" name="mask"> Plot detector mask
	</div>
</div>



<script>
var scatteringQuantities = angular.module("scatteringQuantities", []);
scatteringQuantities.controller("scatteringQuantitiesController", function($scope){
	$scope.scattering = scattering;
	$scope.SQ = scattering.getScatteringQuantities()[0];
	$scope.SQUnit = scattering.getUnitsFor($scope.SQ)[0].unit;
	$scope.scatteringQuantityUnitChanged = function(){
		controller.displayRanges($scope.SQ, $scope.SQUnit); // Delegate to the main controller for this page.
	}
});
</script>

<div id="resultsPanel" class="textPanel">
	<div id="scatteringQuantities" data-ng-app="scatteringQuantities" data-ng-controller="scatteringQuantitiesController">
		<div>
			<label> Scattering Quantity: </label>
			<select id="scatteringQuantity" data-ng-model="SQ" 
			        data-ng-change="SQUnit = scattering.getUnitsFor(SQ)[0].unit; scatteringQuantityUnitChanged();">
				<option data-ng-repeat="sq in scattering.getScatteringQuantities()">{{sq}}</option>
			</select>
			<select id="scatteringQuantityUnit" data-ng-model="SQUnit" data-ng-change="scatteringQuantityUnitChanged();">
				<option data-ng-repeat="unit in scattering.getUnitsFor(SQ)" value="{{unit.unit}}">{{unit.label}}</option>
			</select>
		</div>
		
		<div>
			<label> Visible {{SQ}} min: </label>
			<span class="field" id="visibleMin"></span>
		</div>
		<div>
			<label> Visible {{SQ}} max: </label>
			<span class="field" id="visibleMax"></span>
		</div>
		<div>
			<label> Requested {{SQ}} min: </label>
			<input class="field" id="requestedMin" type="text" onfocus="this.oldValue = this.value;"
			       onchange="controller.setRequestedMin(); this.oldValue = this.value;">
		</div>
		<div>
			<label> Requested {{SQ}} max: </label>
			<input class="field" id="requestedMax" type="text" onfocus="this.oldValue = this.value;"
			       onchange="controller.setRequestedMax(); this.oldValue = this.value;">
		</div>
	</div>
	<canvas id="resultsCanvas"></canvas>
</div>

</body>
</html>